/* Smarthpone */
@media screen and (max-width: 767px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
    }

    main {
        max-width: 90vw;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}