/* Smarthpone */
@media screen and (max-width: 767px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
    }

    /* GCam Pag */

    h1.gcam {
        font-size: 2rem;
    }
}